.cv {
    border-bottom: solid 2px black;
    width: 100%;
    padding-bottom: 4%;
}

.cv_title {
    margin-bottom: 3%;
    font-style: italic;
}

.cv_left {
    width: 50%;
    float: left;
    border-bottom: solid 2px black;
}

.cv_right {
    width: 50%;
    float: right;
    border-bottom: solid 2px black;
}

#ervaring_right p {
    font-size: 1.5vh;
    line-height: 0vh;
}

.cv_container {
    width: 100%;
    border-bottom: solid 2px black;
}

.cv_container p {
    font-size: 1.5vh !important;
    line-height: 2.5vh !important;
}

.cv_title_width {
    margin-bottom: 1%;
}