#home {
    width: 100%;
    height: 92.8%;
    background-image: url("../image/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    padding-top: 51.2%;
}

#welkom {
    color: #f4f7f6;
    background: #333;
    height: 37%;
    right: 0;
    line-height: 370%;
    margin: -50px 0 0 0;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 26%;
    font-size: 2.5vh;
    z-index: 1;
}

#welkom video {
    filter: grayscale(100%);
    width: 100%;
    height: 60%;
}

#welkom-container {
    width: 50%;
    height: 25%;
    padding-left: 20%;
}

