* { margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
 }

ul {
    position: fixed;
    top: 45%;
    bottom: 0;
    right: 1%;
    font-size: 1.2em;
    z-index: 10;
    color: #FFFFFF;
}

li {
    width: 10px;
    height: 10px;
    display: block;
    background: #aaa;
    border-radius: 50%;
}

.hover-text {
    position: absolute;
    right: -19px;
    width: 100px;
    opacity: 0;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}

.hover-text-contact {
    color: #AAA;
}

.hover1 {
    top: -1%;
}

.hover2 {
    top: 2.8%;
}

.hover3 {
    top: 6.8%;
}

.hover4 {
    top: 10.8%;
}

.hover5 {
    top: 14.8%;
}

.hover-text:hover{
    opacity: 1;
}

.hover {
    background: transparent;
    border: 1px solid #aaa;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease-in-out;
}

.actief {
    background: transparent;
    border: 1px solid #FFFF;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease-in-out;
}

.actief_contact {
    border: 1px solid #AAA;
}

.fadein {
    opacity:0;
}