* { margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
 }

ul {
    position: fixed;
    top: 45%;
    bottom: 0;
    right: 1%;
    font-size: 1.2em;
    z-index: 10;
    color: #FFFFFF;
}

li {
    width: 5px;
    height: 5px;
    display: block;
    background: #aaa;
    border-radius: 50%;
}

.hover-text {
    position: absolute;
    right: -19px;
    width: 100px;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.5s ease;
    color: #FFFFFF;
}

.hover-text:hover{
    opacity: 1;
}

.hover {
    background: transparent;
    border: 1px solid #aaa;
    width: 8px;
    height: 8px;
}

.actief {
    background: transparent;
    border: 1px solid #FFFF;
    width: 8px;
    height: 8px;
}

.fadein {
    opacity:0;
}