#over_mij {
    width: 100%;
    height: 94%;
    background-image: url("../image/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 18% 100%;
}

.border {
    width: 100%;
    line-height: 1.6;
    background-color: #333;
    font-size: 4vh;
    text-align: center;
    color: #f4f7f6;
}

#overmij_left {
    background: rgba(51, 51, 51, 0.5);
    color: #f4f7f6;
    height: 100%;
    text-align: center;
    width: 60%;
    font-size: 2.5vh;
    float: left;
}

#overmij_right {
    background: rgba(51, 51, 51, 0.5);
    color: #f4f7f6;
    height: 100%;
    text-align: center;
    width: 40%;
    font-size: 2.5vh;
    float: right;
}

#overmij_right img {
    width: 40%;
    margin-top: 26%;
}